 #i1{
    height: 600px;
 }
 .button-default {
   padding: 16px 27px;
   font-weight: 600;
   margin-top: 21px;
   border-radius: 50px;
   border: 2px solid #5e068a;
   background-color: #5e068a;
   
 }
 .header-sec h3 {
 font-size: 32px;
 margin-bottom: 30px;
 padding-top: 0;
 color: #5e068a;
 font-weight: 700;
 line-height: 1.2;
 margin: 0 auto;
 text-align: center;
 text-transform: uppercase;
}
#d1 {
   text-transform: uppercase;
   color: #5e068a;
}
#b1{
   font-weight: 700;
    text-transform: uppercase;
    background-color: #5e068a;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    
}
#he1{
   color: #5e068a;
}
.header-top {
   background: #5e068a none repeat scroll 0 0;
   color: #ffffff;
   font-size: 13px;
   position: relative;
   padding-bottom: 8px;
}
.stroked-btn {
   padding: 16px 27px;
    font-weight: 600;
    margin-top: 21px;
    border-radius: 50px;
    border: 2px solid #5e068a;
    color: #5e068a;
    margin-left: 555px;
}
.img-wrapper{
   color: #5e068a;
   font-size: 35px;
   font-weight: 700;
}

#buttonhover1{
   height: 50px;
   width: 150px;
   background-color: #5e068a;
   color: white;
   border-radius: 50px;
}

#hoverrow:hover{
   transform: scale(1.01);
}

#hoverrow2:hover{
   transform: scale(1.01);
}
#buttonhover1:hover{
   background-color: #ffffff;
   color: #5e068a;
}

#lastbtn:hover{
   background-color: #5e068a;
   color: white;
}

#lastbtn{
   height: 60px;
   width: 150px;
   background-color: #ffffff;
   color:#5e068a;
   border-radius: 50px;
   border-color: #5e068a;
}
 



 @media(orientation: portrait)
 {
 }
